$color_1: #4f4b53;

.control {
  label {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
    color: $color_1;
  }
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: inherit;
    font-size: 0.9rem;
    color: $color_1;
  }
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: inherit;
    font-size: 0.9rem;
    color: $color_1;
  }
}
